.text-center {
    text-align: center;
}

.text-primary {
    color: $primary;
}

.text-white {
    color: $white;
}

.text-gray {
    color: $lightGray;
}

.section {
    padding: 5rem 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.paint-font {
    font-family: $paintFont;
}