$mainFont: 'Nunito', Arial, Helvetica, sans-serif;
$textFont: 'Open Sans', sans-serif;
$paintFont: 'Painting With Chocolate', sans-serif;

$primary: #ff4242;

$darkGray: #646464;
$lightGray: #EBEBEB;

$white: #ffffff;
$black: #000000;

$menuBoxShadow: rgba(70, 80, 40, 0.30);

$smallFont: calc(6vh + 2vw);